    @font-face {
      font-family: "Lander";
      src: url(https://sbuxdates.com/LanderGrande-SemiBold.otf) format("opentype");
      font-weight: 600;
    }

    @font-face {
      font-family: "SoDoSans";
      src: url(https://sbuxdates.com/SoDoSans-Regular.otf) format("opentype");
      font-weight: 400;
    }

    @font-face {
      font-family: "SoDoSans";
      src: url(https://sbuxdates.com/SoDoSans-SemiBold.otf) format("opentype");
      font-weight: 600;
    }

    @font-face {
      font-family: "SoDoSans";
      src: url(https://sbuxdates.com/SoDoSans-Bold.otf) format("opentype");
      font-weight: 800;
    }

    @font-face {
      font-family: "Pike";
      src: url(https://sbuxdates.com/Pike-Bold.otf) format("opentype");
      font-weight: 700;
    }

    body {
      font-family: "SodoSans", sans-serif;
      margin: 0;
      padding: 0;
      font-size:14px;
    }

    .masonry-container {
      column-count: 2;
      column-gap: 65px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 60px;
    }

    .masonry-item {
      position: relative;
      display: inline-block;
      width: 100%;
      background-color: #f0f0f0;
      margin-bottom: 25px;
      padding-top: 0;
      padding-left: 15px;
      padding-right: 25px;
      padding-bottom: 10px;
      border-radius: 20px;
      border: 1px solid #e3e3e3;
      min-height: 80px; /* Add a min-height to accommodate the title */
    }

    .masonry-item ul {
      list-style-type: none;
      padding-left: 20px;
    }

    .masonry-item ul li {
      position: relative;
    }

    .masonry-item ul li::before {
      content: "\2022";
      position: absolute;
      left: -15px;
      top: 0px;
      color: #1c3d36;
    }

    .masonry-item h3 {
      color: #f3f3f3;
      margin-top: 0px;
      margin-left: -16px;
      margin-right: -25.5px;
      padding: 15px 20px 5px 15px;
      background-color: #1c3d36;
      border-radius: 20px 20px 0 0;
      font-weight: 600;
      font-size: 20px;
      font-family: "SodoSans", sans-serif;
    }

    /* Add alternating row colors */
    .masonry-item table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
    }

    .masonry-item th,
    .masonry-item td {
      padding: 8px;
      width:50%;
    }

    .masonry-item th {
      background-color: #1c3d36;
      color: #f3f3f3;
      font-weight: 600;
    }

    .masonry-item tr:nth-child(odd) {
      background-color: #e5e5e5;
    }
@media print {
  .masonry-item {
    page-break-inside: avoid;
  }
}