    h1, h2, h3 {
    font-family: 'Karla', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    margin: auto;
	background-color: #44148f;
	background-size: 100%;
    color: #eee;
}
a {
	color: #ffb0db;
	text-decoration: underline;
}
a:hover {
	color: #ffb0db;
	text-decoration: none;
	font-weight: bold;
}
.container {
  position: relative; /* Make container the positioning context for the ribbon */
  max-width: 1200px;
  margin: auto;
  padding: 20px; /* You can adjust padding as needed */
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.hero .text {
    width: 70%;
}
.hero .text h1 {
    font-size: 3.2em;
}
.hero p {
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
.hero .image {
    width: 50%;
    display: flex;
    justify-content: right;
    background-image: url('https://res.cloudinary.com/di8j84ent/image/upload/v1714252618/spacebro-bg_mjhgk4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hero img {
    width: 100%;
    height: auto;
}
.main img {
	width: 100%;
    max-width: 400px !important;
    padding: 20px;
    margin-top: 20px;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.main img {
    animation: float 5s ease-in-out infinite;
}
.button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #990099;
    color: white;
    border: 2px solid #090909;
    border-radius: 8px;
    box-shadow: 7px 7px 0px #090909;
    cursor: pointer;
    margin: 20px;
}
.button:hover {
	background-color: #44148f;
    transform: ease(1s);
    }
.hero button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #990099;
    color: white;
    border: 2px solid #090909;
    border-radius: 8px;
    box-shadow: 7px 7px 0px #090909;
    cursor: pointer;
    margin: 20px;
}
.hero button:hover {
	background-color: #44148f;
    transform: ease(1s);
    }
.full-width {
	width: 100% !important;
    align-items: center;
    text-align: center;
}
.circle {
	padding: 50px;
	border-radius: 50%;
	border: 2px dashed #eee;
    margin: 20px;
}
.custom-check {
    color: #ed6e7a;
    font-weight: bold;
}
.welcome {
    text-align: center;
}
.welcome h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 0px;
}
.welcome p {
    font-weight: bold;
    letter-spacing: 0.10rem;
    font-family: 'Roboto Mono', monospace;
    background-color: #d0a4e1;
}
.activities {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 40px;
}
.activity {
    flex: 1 1 auto;
    width: calc(100% / 3);
    margin: 10px;
    padding: 20px 20px;
    background: #fff;
    border: 2px solid #090909;
    box-shadow: 7px 7px 0px #090909;
    border-radius: 8px;
    text-align: center;
}
.activity img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #090909;
}
.activity div.text-content {
    flex: 1;
}
.activity h3, .activity p {
    margin: 0;
    font-size: 1rem;
}
.activity h3 {
    margin: 10px;
    font-size: 1.9rem;
    font-weight: 800;
    color: #333;
}
.activity p {
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    color: #333;
}
.pricing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price-category {
    width: calc(50% - 60px);
    background: #fff;
    margin-bottom: 20px;
    border: 2px solid #090909;
    box-shadow: 7px 7px 0px #090909;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333;
}
.price-item, .group-package {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: calc(50% - 10px);
}
.price-item img, .group-package img {
    width: 120px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.price-item, .group-package > div {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusted to manage spacing dynamically */
    padding: 20px;
}
.testimonial {
    flex: 0 0 calc(25% - 20px); /* Adjust the width to accommodate 4 items per row accounting for margin */
    margin: 10px;
    padding: 20px;
    background: #fff;
    border: 2px solid #090909;
    box-shadow: 7px 7px 0px #090909;
    border-radius: 8px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #333;
}
.testimonial h3 {
    margin-bottom: 0px;
}
.testimonial img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #090909;
}
@keyframes wiggle-lefttilt {
  0%, 100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@keyframes wiggle-righttilt {
  0%, 100% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}

.testimonial.lefttilt:hover {
  animation: wiggle-lefttilt 1s ease-in-out infinite;
}

.testimonial.righttilt:hover {
  animation: wiggle-righttilt 1s ease-in-out infinite;
}

.pink {
    background-color: #ffb0db;
}
.blue {
    background-color: #3292e0;
}
.yellow {
    background-color: #edf763;
}
.righttilt {
    transform: rotate(1deg);
}        
.lefttilt {
    transform: rotate(-1deg);
}
.hours {
    color: white;
    padding: 0px;
    text-align: center;
}
.threepath {
    width: 70%;
    margin: auto;
}
.squiggle-right {
	width: 70%;
	margin: auto;
	transform: scaleX(-1);
	}
.onepath {
    display: none;
}
.squiggle {
    display: none;
}
.straightpath {
	display: none;
}
.highlight-yellow {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    z-index: 1;
    line-height: 0.8;
}
.highlight-yellow::before {
    content: "";
    background-color: #14088e;
    position:absolute;
    border-radius: 2px;
    z-index: -1;
    top: 35%;
    left: 0;
    right: 0;
    height: 35%;
    transform: rotate(-0.5deg);
    overflow: hidden;
}
.highlight-pink {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    z-index: 1;
    line-height: 0.8;
}
.highlight-pink::before {
    content: "";
    background-color: #ffb0db;
    position:absolute;
    border-radius: 2px;
    z-index: -1;
    top: 35%;
    left: 0;
    right: 0;
    height: 35%;
    transform: rotate(0.5deg);
}
.highlight-pink-text {
    color: #e052a1;
    font-weight: bold;
}
.highlight-blue {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    z-index: 1;
    line-height: 0.8;
}
.highlight-blue::before {
    content: "";
    background-color: #8ac2d9;
    position:absolute;
    border-radius: 2px;
    z-index: -1;
    top: 35%;
    left: 0;
    right: 0;
    height: 35%;
    transform: rotate(-0.3deg);
}
.highlight-blue-text {
    color: #3292e0;
    font-weight: bold;
}
.highlight-purple {
    position:relative;
    display:inline-block;
    padding:5px 15px;
    z-index:1;
    line-height:0.8;
}
.highlight-purple::before {
    content: "";
    background-color: #be95ff;
    position:absolute;
    border-radius:2px;
    z-index:-1;
    top:35%;
    left:0;
    right:0;
    height:35%;
    transform:rotate(0.5deg);
}
.highlight-purple-text {
    color: #8b40ff;
    font-weight: bold;
}
.business-hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9em;
}
.business-hour {
    flex-basis: calc(16.666% - 20px);
    border: 2px solid #090909;
    box-shadow: 5px 5px 0px #090909;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    background: linear-gradient(to bottom, #6cf7f3 50%, #fff 50%);
    overflow: hidden;
}
.business-hour b {
    color: #333;
    font-family: 'Karla';
}
.business-hour p {
    color: #333;
    font-family: 'Roboto Mono', monospace;
}
.highlight {
    background: linear-gradient(to bottom, #edf763 50%, #fff 50%);
    overflow: hidden;
}
.business-hour.highlight b {
    color: #333;
    font-weight: 800;
}
.double {
	width: calc(100% - 10px)
}
.double h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin: 10px 0 40px 0;
    font-family: "Karla";
        }

.ribbon {
  background-color: #44148f;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #090909;
  border-bottom: 2px solid #090909;
  box-shadow: 0px 7px 0px #090909;
  margin: 40px 0;

}
.ribbontext {
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #eee;
}
.right {
  align-items: right;
  text-align: right;
} 
        .header, .important {
            color: #eee;
        }
        .toggleHeader {
            cursor: pointer;
			border-bottom: 2px solid #090909;
            width: 100%;
            max-width: 650px;

            padding: 0px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .faqcontent {
            display: none;
            padding: 10px;
            width: 100%;
            max-width: 650px;
            margin-bottom: 20px;
        }
        .faqcontent p {
        	font-family: Roboto Mono;
            }
        .faqcontent h2 {
        	font-family: Roboto Mono;
            }
        .faqbx {
            font-size: 32px;
            color: #eee;
            vertical-align: middle;
        }

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero .text, .hero .image {
        width: 100%;
        margin: auto;
    }
    .main img {
    	width: 100%;
        max-width: 100% !important;
    }
    .hero .text h1 {
        font-size: 2.5rem;
    }
    .welcome h1 {
        font-size: 2.5rem;
        font-weight: 800;
    }
    .activities {
        flex-direction: column;
    }
    .activity {
        width: auto;
    }
    .pricing, .price-category {
        width: 100%;
    }
    .price-item, .group-package {
        width: 100%;
    }
    .testimonials {
        flex-direction: column;
    }
    .testimonial {
        width: auto;
        margin-bottom: 40px;
    }
    .threepath {
        display: none;
    }
    .onepath {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
    }
    .squiggle {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
    }
	.squiggle-right {
		display: none;
	}
	.straightpath {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: center;
    }	
    .rev {
        transform: rotate(180deg);
    }
    .double h1 {
        text-align: center;
    }
    .business-hour {
        flex-basis: calc(50% - 20px);
    }
	.right {
		align-items: center;
		text-align: center;
} 
	
}
@media (max-width: 340px) {
    .hero .text h1 {
        font-size: 2rem;
    }
}