/* Dark Mode Styles */

body {
  background-color: #121212;
  color: #f9f9f9;
}

/* Custom CSS for cards */
.article-card {
  margin: 0px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #1f1f1f; /* Dark gray background color for cards */
}

.article-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.article-title {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #f9f9f9;
}

.article-description {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the description to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #c2c2c2;
}

/* Flexbox grid layout */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 33.33%; /* Three columns on desktop */
  max-width: 33.33%;
  padding: 10px;
  margin-bottom: 10px; /* Adjust the margin to control the space between rows */
}

@media only screen and (max-width: 992px) {
  .col {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}

/* Flexbox for date and source */
.date-source {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.date-source p {
  margin: 0;
  font-size: 12px;
  color: #c2c2c2;
}

.material-symbols-outlined {
  font-size: 11px;
  color: #c2c2c2;
}

/* Additional styles */
.card-content {
  padding: 10px;
}

/* "Older Stories" Card */
#older-stories {
  width: 100%;
}

.older-articles-list {
  padding-top: 0px;
  font-size: 14px;
  list-style-type: disc; /* Add bullet points */
  padding-left: 0px; /* Increase spacing between list items */
}

a {
  color: #f9f9f9; /* Make all links white */
}

hr {
  border: 0.5px solid #1f1f1f;
}
